/*Colors*/
/*primary color: #0c3c65*/
/*primary color dakr 1: #0a3355*/
/*primary color dakr 2: #082b47*/
/*primary light: #1372c3*/


/*gray background: #f8f7f7*/
/*white background*/
/*General Settings*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0,0,0,.8);
    font-size: 18px;
    line-height: 1.4;
    overflow-x: hidden;
}

.page-with-no-hero {
  padding-top: 130px;
}

.section-gray {
  background-color: #f1f1f1;
}

.section-blue {
  background-color: #0c3c65;
  color: #fff;
}

section {
  padding: 75px 0 60px;
}

section:last-of-type {
  padding-bottom: 0;
}

p {
  font-style: normal;
  font-size: 16px;
  line-height: 1.58;
  letter-spacing: -.003em;
  text-align: center;
}

.read-more {
  color: #0c3c65;
  font-weight: bold;
  display: block;
  margin-top: 15px;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

.read-more:active,
.read-more:hover {
  color: #1372c3;
}

.long-copy {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: justify;
}





li {
  display: inline-block;
  list-style: none;
}

menu,ol,ul {
  padding: 0;
  list-style: none;
  list-style-image: none
}

a {
    color: inherit;
    text-decoration: none
}


h1,h2,h3,h4 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  margin-bottom: .5em;
}

h1 {
  text-transform: capitalize;
  font-weight: 400;
}

h1 + h4 {
  padding-bottom: 20px;
}

.services-long-copy {
  /*padding-bottom: 30px;*/
}
.header-with-subtext {
  padding-bottom: 0;
}
/*hero*/



.section-hero-1,
.section-hero-2,
.section-hero-3 {
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 90vh;
  border-radius: 3px;
  display: table;
}


.wrap {
  width: 100%;
  height: 90vh;
  background-color: rgba(24, 24, 24, 0.94);
}

.section-hero-1 {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.3)),to(rgba(0,0,0,.85))),url(img/hero-pic-1.jpg);
  background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.85)),url(img/hero-pic-1.jpg);
}


.section-hero-2 {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.3)),to(rgba(0,0,0,.85))),url(img/hero-pic-2.jpg);
  background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.85)),url(img/hero-pic-2.jpg)
}

.section-hero-3 {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.3)),to(rgba(0,0,0,.85))),url(img/hero-pic-3.jpg);
  background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.85)),url(img/hero-pic-3.jpg)
}


.slider--js {
  background-color: rgba(17, 17, 17, 0.59);
}

.slider-buttons {
  position: absolute;
    color: #fff;
    top: 85%;
    left: 50%;
    margin: 0;
    padding: 0;
    z-index: 1000;
    text-align: left;
    -webkit-transform: translateX(-50%) translateY(calc(-50%));
            transform: translateX(-50%) translateY(calc(-50%));
}

@-moz-document url-prefix() {
  .slider-buttons {
    bottom: 13%;
  }
}

.slider-buttons .nav-dot {
  display: inline-block;
  background: #fff;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  margin: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.91);
          box-shadow: 0 2px 2px rgba(34, 34, 34, 0.91);
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}

.slider-buttons .nav-dot.active {
  background: #0c3c65;
}

.slider-buttons .nav-dot:active {
  background: #082b47
}


.slider-buttons .nav-dot:hover {
  background: #1372c3
}


.loading {
  opacity: 0;
}

.hero-text-container {
  position: absolute;
  color: #fff;
  top: 53%;
  left: 49%;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  z-index: 1000;
  text-align: left;
  -webkit-transform: translateX(-50%) translateY(calc(-50% - .5px));
          transform: translateX(-50%) translateY(calc(-50% - .5px));
}


.hero-text-container p,
.hero-text-container a {
  color: rgba(249, 247, 247, 0.88);
  text-align: left;
  padding-left: 45px;
}

.hero-text-container h1 {
  color: #fff;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.hero-button {
  background-color: #fff;
  border: 3px solid #fff;
  color: #082b47;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  padding: 18px 22px;
  border-radius: 2px;
  min-width: 100px;
  -webkit-transition: backgound-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: backgound-color 0.2s ease-in-out, color 0.2s ease-in-out;
  letter-spacing: 0.05 em;
  cursor: pointer;
}

.hero-button:hover {
  background-color: transparent;
  color: #fff;
}

/*can't tell if elegant or hack*/
/*basically the divs are hiddene until the matching section hero comes around */
.section-hero-1-text h1,
.section-hero-1-text p,
.section-hero-2-text h1,
.section-hero-2-text p,
.section-hero-3-text h1,
.section-hero-3-text p {
  display: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.section-hero-1-text a,
.section-hero-2-text a,
.section-hero-3-text a {
  display: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}


.section-hero-1 .section-hero-1-text h1,
.section-hero-1 .section-hero-1-text p,
.section-hero-1 .section-hero-1-text a,
.section-hero-2 .section-hero-2-text h1,
.section-hero-2 .section-hero-2-text p,
.section-hero-2 .section-hero-2-text a,
.section-hero-3 .section-hero-3-text h1,
.section-hero-3 .section-hero-3-text p,
.section-hero-3 .section-hero-3-text a {
  display: block;
}



/*navbar*/
.inline-block {
  display: inline-block;
}

.mobile-nav-schedule a{
  display: none ;
}
ul li {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.drop-down-nav-services .drop-down-column a {
   -webkit-transition: color 0.2s;
   transition: color 0.2s;
}

.drop-down-nav-services .drop-down-column a:hover,
li a:hover {
   color: #fff !important;
}

.drop-down-nav-services:hover .drop-down-column a,
ul:hover li {
  color: rgba(255, 255, 255, 0.60);
}


.ion-arrow-right-b,
.ion-arrow-down-b {
  position: relative;
  top: 1.4px;
  left: 5px;
  font-size: 15px;
  display: inline-block;
}

.ion-arrow-down-b {
  display: none;
  left: 5px;
}

.drop-down-column {
  float: left;
  background: #1372c3;
  color: #fff;
  font-size: 15px;
}

.hoverable-li a {
  display: block;
  padding: 12px 16px;
}

.hoverable-li:hover {
  background: #1372c3;
  color: #fff;
  margin-right: 25.92px;
}


.hoverable-li .drop-down-nav-services,
.mobile-clickable-li .drop-down-nav-services {
  display: none;
}

.hoverable-li:hover .drop-down-nav-services  {
  display: block;
}

.hoverable-li:hover .ion-arrow-right-b  {
  display: none;
}
.hoverable-li:hover .ion-arrow-down-b  {
  display: inline-block;
}



.drop-down-nav-services {
  position: absolute;
  background-color: #0c3c65;
}

.mobile-nav {
  display: none;
}
.drop-down-nav {
  display: none;

}

.header-top {
    height: 105px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 2;
    -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.71);
            box-shadow: 0 2px 2px rgba(34, 34, 34, 0.71);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.header-top div {
  display: inline-block;
}

nav {
  background-color: #0c3c65;
  -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.71);
          box-shadow: 0 2px 2px rgba(34, 34, 34, 0.71);
  color: rgba(255, 255, 255, 0.85);
}

.current-page {
  color: #fff;
}


header {
  position: fixed;
  width: 100%;
  color: #0c3c65;
  top: 0;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}
header .row {
    padding-top: 0;
    margin: 0 auto;
    max-width: 100%;
}

.nav-right-side {
  padding-right: 80px;
  padding-top: 2px;
}

nav li {
  display: inline-block;
  margin-right: 30px;
}

nav li:last-of-type {
  margin-right: 0;
}


nav li:last-of-type {
  padding-right: 0;

}

nav ul{
  padding-left: 120px;
  color: rgba(#ffffff, 0.91);
}

.logo {
  padding: 10px;
  margin-left: 100px;
  margin-top: 1px;
  width: 350px;
  max-width: none;
  -webkit-transition: width 0.2s;
  -webkit-transition: width 0.2s, -webkit-transform 0.2s;
  transition: width 0.2s, -webkit-transform 0.2s;
  transition: width 0.2s, transform 0.2s;
  transition: width 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

img {
   image-rendering: optimizeQuality;
}

.contacts-header-div {
  margin-top: 30px;
  padding-right: 100px;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
}

/*mini nav on scroll down*/

.header-top-mini .logo {
    width: 200px;
}

.header-top-mini .contacts-header-div {
    margin-top: 5px;
}

.header-top.header-top-mini {
    height: 60px;
}

img {
  image-rendering: auto;
}
/*vertically centered black magic https://css-tricks.com/centering-in-the-unknown/*/
/* The ghost, nudged to maintain perfect centering */
.verticaly-centered-list {
  height: 60px;
}

ul {
  margin: 0;
}


.address {
  padding-left: 40px;
}

.address span,
.contact-phone span,
.footer-address span,
.footer-contact-phone span,
.footer-times span,
.verticaly-centered-list:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
  margin-top: 2px;

}





/* The element to be centered, can also be of any width and height */
.verticaly-centered-list ul{
  display: inline-block;
  vertical-align: middle;
}

.address,
.contact-phone,
.footer-address,
.footer-contact-phone,
.footer-times {
  height: 40px;
}





.address span,
.contact-phone span,
.footer-address span,
.footer-contact-phone span,
.footer-times span{
  display: inline-block;
  vertical-align: middle;
}

/*icons*/

.ion-social-googleplus,
.ion-social-facebook,
.ion-social-instagram {
  font-size: 25px;
  padding: 0 5px;
}

.ion-ios-telephone,
.ion-ios-location,
.ion-ios-clock {
  font-size: 34px;
  color: #0c3c65;
  display: block;
  margin-right: 10px;
  width: 36px;
  text-align: center;
}


.ion-android-arrow-dropleft-circle,
.ion-android-arrow-dropright-circle {
  font-size: 36px;
  color: #0c3c65;
  display: block;
  width: 40px;
  text-align: center;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-shadow: 0 1px 2px rgba(34, 34, 34, 0.31);

}

.ion-android-arrow-dropleft-circle:hover,
.ion-android-arrow-dropleft-circle:active,
.ion-android-arrow-dropright-circle:hover,
.ion-android-arrow-dropright-circle:active {
  color: #1372c3;
  cursor: pointer;
}

.arrowkeys {
  margin-left: 3px;
}

.prev-services,
.next-services {
  color: #fff;
  cursor: pointer;

}

.prev-services:hover,
.prev-services:active,
.next-services:hover,
.next-services:active {
  color: #1372c3;
}
/*anchors*/
.inline-anchor {
  color: #1372c3;
  font-weight: bold;
}

.inline-anchor-dark {
  color: #0c3c65;
}

.primary-link {
  border: 1px solid #0c3c65;
  background-color: #0c3c65;
  color: #fff;
  padding: 10px;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.3s ease-in-out;
}

.primary-link:hover,
.primary-link:active {
  color: #0c3c65;
  border-color: #0c3c65;
  background-color: #0c3c65;
}



.section-map h1 {
  padding-bottom: 40px;
}

.footer-button-wrap {
  margin-top: 85px;
}

.footer-hero-button {
  border:2px solid #0c3c65;
  color: #fff;
  background-color: #0c3c65;
  margin-top: 20px;
}
.footer-hero-button:hover,
.footer-hero-button:active {
  color: #0c3c65;
}

.footer-link:hover,
.footer-link:active {
  color: #fff;
  border-color: #0c3c65;
  background-color: #0c3c65;
}


.secondary-link {
  border: 2px solid #fff;
  padding: 10px;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.3s ease-in-out;
  font-size: 17px;
  -webkit-box-shadow: 0 4px 2px rgba(34, 34, 34, 0.31);
          box-shadow: 0 4px 2px rgba(34, 34, 34, 0.31)
}

.secondary-link:hover,
.secondary-link:active {
  color: #0c3c65;
  border-color: #0c3c65;
  background-color: #fff;
}


/*footer*/

.main-footer {
    display: inline-block;
    color: #fff;
    background-color: #2D2D2D;
    padding: 20px 0;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    vertical-align: middle;
    box-shadow: inset 0 10px 10px -5px #0d1116;
}

.section-map {
  font-size: 16px;
  -webkit-box-shadow: inset 0 2px 11px rgba(34, 34, 34, 0.10);
          box-shadow: inset 0 2px 11px rgba(34, 34, 34, 0.10);
}


.map-row-1 {
  margin-bottom: 50px;
}

.footer-address {
  margin-top: 30px;
}

.footer-logo {
  margin-left: 30px;
  padding-bottom: 30px;
}

.footer-day {
  font-weight: bold;
  display: block;
}

.footer-time {
display: block;
float: right;
}




/*insurances*/
/*.section-insurances p {
  text-align: center;
}*/

.insurances img{
  max-width: 90%;
}

.insurances div {
  min-height: 110px;
}


/*reviews*/

.siema {
  padding-bottom: 10px;
}

.review {
  max-width: 450px;
  width: 95%;
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 2px rgba(34, 34, 34, 0.31);
          box-shadow: 0 4px 2px rgba(34, 34, 34, 0.31);

}

.review-copy {
  padding: 50px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: justify;
}

.review-paragraph {
  font-size: 15px;
}



.reviewer {
  font-weight:  bold;
  display: block;
  text-align: left;
}

.review-date {
  font-weight: lighter;
}

.review-stars {
  font-size: 24px;
  color: #e7711b;
}

/*services*/

.services-slide h4 {
  text-shadow: 0 2px 2px rgba(34, 34, 34, 0.11);
}


.services-button:hover {
  background-color: transparent;
  color: #fff;
}
.services-button {
  border:2px solid #0c3c65;
  color: #fff;
  background-color: #0c3c65;
  margin-top: 20px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  padding: 13px 22px;
  border-radius: 2px;
  min-width: 100px;
  -webkit-transition: backgound-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: backgound-color 0.2s ease-in-out, color 0.2s ease-in-out;
  letter-spacing: 0.05 em;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 2px rgba(34, 34, 34, 0.31);
          box-shadow: 0 4px 2px rgba(34, 34, 34, 0.31);
}
.services-button:hover,
.services-button:active {
  color: #0c3c65;
}


.siema-services {
    padding-bottom: 15px;
}

.services-slide {
  -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.81);
          box-shadow: 0 2px 2px rgba(34, 34, 34, 0.81);
  margin: 0 auto;
  background-color: #fff;
  color: #222;
  width: 80%;
  padding-bottom: 25px;
}

.services-slide p {
  padding: 10px;
  font-size: 90%;
}

.services-slide h4 {
  margin: 0;
  padding-top: 10px;
}

.services-slide img {
  opacity: .8;
  padding-bottom: 10px;
  width: 100%;
}

.services-learn-more {
  color: #0c3c65;
  background-color: transparent;
  border: 1px solid #0c3c65;
  padding: 10px;
  font-size: 90%;
  text-transform: uppercase;
}

/*fadeins*/




.fadein-fast {
  -webkit-animation: fadein .3s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
          animation: fadein .3s;
          z-index: -3;
}
header {
  z-index: 99999;
}

.fadein{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
            animation: fadein 2s;

}

.fadein2-3{
    -webkit-animation: fadein 2.3s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
            animation: fadein 2.3s;
}
.fadein2-6{
    -webkit-animation: fadein 2.6s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
            animation: fadein 2.6s;
}
.fadein3{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
            animation: fadein 3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*single page*/

.section-single-page {
  margin: 8% 10%;
  -webkit-box-shadow: 0 1.2rem 3.6rem rgba(0,0,0,.2);
          box-shadow: 0 1.2rem 3.6rem rgba(0,0,0,.2);
  padding: 5% 8%;
}

.section-single-page p {
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
}

.section-single-page p strong{
  text-align: justify;
  color: #0c3c65;
}

/*.page-with-no-hero h1,*/
.page-with-no-hero h2,
.page-with-no-hero h3,
.page-with-no-hero h4{
  font-weight: bold;
}

.welcoming-h3 {
  font-size: 160%;
}

.row-1 span,
.row-2 span {
  display: block;

  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 800;
}

.row-1 span:before,
.row-2 span:before {
  content: "• ";
  color: #0c3c65; /* or whatever color you prefer */
  padding-right: 1px;
}


iframe {
  background-color: #f1f1f1;
}



hr {
  margin-top: 3.2rem;
margin-bottom: 3.2rem;
border-top: .1rem solid currentColor;
color: #161d25;
}

/*sectionabout*/

.about-image-2-mobile {
  display: none;
}

.section-about p {
  text-align: justify;
}

.about-image-1 {
  max-height: 440px;
  margin-bottom: 20px;
}

.about-paragraph-1,
.about-paragraph-2 {
  margin: 0 auto;
  width: 80%;
}


/*google maps*/

.google-maps {
      position: relative;
      padding-bottom: 30%; // This is the aspect ratio
      height: 0;
      overflow: hidden;
  }
  .google-maps iframe {
    padding: 0 3%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100% ;
      height: 100% ;
  }

  /*contact*/
  .section-contact form {
    padding: 2% 10%;
  }

  .section-contact h1 + p {
    text-align: center;
  }

/*media queries*/

@media only screen and (max-width: 1402px) {
  .appointment-insurances .large-6 {
    width: 100%;
  }

  .section-hero-1,
  .section-hero-2,
  .section-hero-3 {
    background-attachment: scroll;

  }
}

@media only screen and (max-width: 1200px ) {
  .header-top {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1100px ) {
  .address span {
    width: 145px;
    margin-bottom: 15px;
  }

.secondary-link{
    font-size: 14px;
  }
}

@media only screen and (max-width: 1025px ) {

  h1 {
    font-size: 230%;
  }

  nav {
    font-size: 90%;
  }

  nav ul {
    margin-bottom: 2px;
  }
  .footer-logo {
    display: none;
  }
}


@media only screen and (max-width: 980px ) {
  nav {
    font-size: 80%;
  }

  .logo {
    width: 300px;
    margin-top: 8px;
  }

  .header-top-mini .logo {
      margin-top: 0;
  }
}

@media only screen and (max-width: 960px ) {
  .header-top div.contacts-header-div{
    display: none;
  }

  .logo {
    margin: 0 auto;
    width: 250px;
    margin-top: 0;
    display: block;
  }

  .header-top--js .small-4{
    width: 100%;
  }

  .header-top-mini {

  }

  .header-top {
    height: 71px;
  }

  .nav-up {
    top: -105px;
  }


  .header-top-mini .logo {
    width: 300px;
  }

  .header-top.header-top-mini {
    height: 105px;
  }
}


@media only screen and (max-width: 910px ) {
  .hoverable-li .drop-down-nav-services {
    display: inline-block;
    height: 0px;
    transition: height 0.3s;
    overflow: hidden;
    visibility: hidden;
  }

  .hoverable-li .drop-down-nav-services .drop-down-column {
    height: 0;
    transition: height 0.3s;
    overflow: hidden;
  }

  .hoverable-li:hover .drop-down-nav-services,
  .hoverable-li-active .drop-down-nav-services {
    display: block;
    visibility: visible;
    height: 57%;
    top: 64%;
    width: 100%;
    background-color: #1372c3;
  }

  .hoverable-li-active {
    background: #1372c3;
    color: #fff;
  }
  .hoverable-li:hover .drop-down-nav-services .drop-down-column,
  .hoverable-li-active .drop-down-nav-services .drop-down-column{
    height: 100%;

  }

.hoverable-li-active .ion-arrow-down-b  {
    display: inline-block;
  }

.hoverable-li-active .ion-arrow-right-b  {
      display: none;
    }

    .hoverable-li-active a{
    color: #fff !important;
}

  .hoverable-li {
    padding: 0;
  }

  .drop-down-column + .drop-down-column {
    float: right;
  }

  .drop-down-column {
    width: 50%;
  }

  .hoverable-li:hover {
     margin-right: 0;
  }

  h1 {
    font-size: 190%;
  }

  h4 {
    font-size: 110%;
  }

  h3,
  .welcoming-h3 {
    font-size: 130%;
  }

  nav {
    height: 60px;
  }

  .desktop-nav {
    display: none;
  }

  .drop-down-nav  ul{
    display: block;
    overflow: hidden;
    height: 0;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    padding-top: 10px;
  }

  .drop-down-nav  ul li{
    display: block;
    overflow: hidden;
    text-align: center;
    /* border-top: 1px #fff solid; */
    padding: 5px;

  }


  .drop-down-nav {
    display: block;
    background-color: #0c3c65;
    -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.71);
    box-shadow: 0 2px 2px rgba(34, 34, 34, 0.71),  inset 0 2px 2px rgba(34, 34, 34, 0.71);


    color: #fff;
    height: 0;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
  }

  .drop-down-nav.active {
    height: 300px;
  }

  .drop-down-nav.active ul{
    height: 100%;
  }

  .drop-down-nav.active ul {
    display: block;
  }

  .mobile-nav {
    display: inline-block;
    padding-left: 35px;
    padding-right: 20px;
    width: 100%;
  }

  .mobile-nav-social {
    margin-left: 10px;
  }

  .mobile-nav div {
    display: inline-block;
  }
  .mobile-nav .secondary-link {
    border-width: 1px;
    margin-top: 5px;
  }

  .mobile-anchor {
    margin-top: 20px;
  }



  .hamburger-div {
    display: inline-block;
    margin-top: 7px;
  }

  .hamburger,
  .cross {
    font-size: 34px;
    width: 36px;
    text-align: center;
    vertical-align: center;
  }

  .hamburger {
    font-size: 36px;
  }


  .hamburger,
  .cross {
    margin-right: 3px;

    display: none;
  }

  .hamburger.active,
  .cross.active {
    display: inline-block;
  }



  .verticaly-centered-list {
    height: auto;
  }
}

@media only screen and (max-width: 750px ) {

  .row-1 span,
  .row-2 span {

    font-size: 14px;

  }

.section-about p {
  font-size: 14px;
}

.google-maps {
      padding-bottom: 55% ;
  }
}

@media only screen and (max-width: 690px ) {
   p {
    font-size: 13px;
  }
    h4 {
      font-size: 100%;
    }

    h3,
    .welcoming-h3 {
      font-size: 120%;
    }

  .hero-text-container p,
  .hero-text-container a,
  .hero-text-container h1 {
    text-align: center;
  }

  .hero-text-container {
    left: 50%;
    width: 100%;
  }

  .hero-text-container p,
  .hero-text-container a,
  .hero-text-container h1 {
    padding-left: 0;
  }
}



@media only screen and (max-width: 645px ) {

    .row-1 span,
    .row-2 span {

      font-size: 12px;

    }


  .footer-logo {
    margin-left: 0;
    padding-bottom: 0;
    padding-right: 2px;
    margin-top: 5px;
  }

   .footer-contact-phone,
   .footer-address,
   .footer-button-wrap{
     text-align: center;
  }

  .ion-ios-telephone, .ion-ios-location, .ion-ios-clock {

     margin-right: 0;

  }

  .footer-contact {
    margin-top: 20px;
  }

  .footer-times-wrap {
    margin-top: 60px;
    padding: 0 30%;
  }

  .footer-button-wrap {
    display: none;
  }

  .footer-information {
    font-size: 80%;
  }
}

@media only screen and (max-width: 645px ) {
  .footer-times-wrap {
    padding: 0 20%;
  }
}

@media only screen and (max-width: 640px ) {
  .footer-contact {
    clear: both;
  }

  .review-paragraph {
    font-size: 10px;
  }
  .row-1 span,
  .row-2 span {

    font-size: 11px;

  }

  h3,
  .welcoming-h3 {
    font-size: 110%;
  }

}


@media only screen and (max-width: 530px ) {
  h1 {
    font-size: 150%;

  }
   p {
    font-size: 12px;
  }
  .row-1 span,
  .row-2 span {

    font-size: 10px;

  }

}

@media only screen and (max-width: 530px ) {
  h1 {
    font-size: 145%;

  }


}

@media only screen and (max-width: 460px ) {
  .row-1 span,
  .row-2 span {

    font-size: 9px;

  }

   p {
    font-size: 9px;
  }
}
@media only screen and (max-width: 420px ) {
  .row-1 span,
  .row-2 span {

    font-size: 8px;

  }
}

@media only screen and (max-width: 375px ) {
  .row-1 span,
  .row-2 span {

    font-size: 7px;

  }
}


@media only screen and (max-width: 350px ) {
  .row-1 span,
  .row-2 span {

    font-size: 5px;

  }
}


@media only screen and (max-width: 305px ) {
  .mobile-anchor a {
    display: none;
  }

  .footer-times-wrap {
    padding: 0 10%;
  }

  .mobile-nav-schedule a{
    display: inline-block;
    padding-bottom: 10px;
  }

  .mobile-nav-schedule a:hover{
    color: #222 !important;
  }

  .drop-down-nav.active {
    height: 315px;
  }
}
