/*Colors*/
/*primary color: #0c3c65*/
/*primary light: #1372c3*/


/*gray background: #f8f7f7*/
/*white background*/
/*General Settings*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.section-gray {
  background-color: #f8f7f7;
}

.section-blue {
  background-color: #0c3c65;
  color: #fff;
}

section {
  padding: 60px 0 60px;
}

p {
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.003em;
  text-align: center;
}

.read-more {
  color: #0c3c65;
  font-weight: bold;
  display: block;
  margin-top: 15px;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}

.read-more:active,
.read-more:hover {
  color: #1372c3;
}

.long-copy {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: justify;
}





body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0,0,0,.8);
    font-size: 18px;
    line-height: 1.4
}

menu,ol,ul {
  padding: 0;
  list-style: none;
  list-style-image: none
}

a {
    color: inherit;
    text-decoration: none
}


h1,h2,h3,h4 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal
}

h1 {
  text-transform: capitalize;
  font-weight: 400;
  padding-bottom: 20px;
}

h1 + h4 {
  padding-bottom: 20px;
}

.header-with-subtext {
  padding-bottom: 0;
}
/*hero*/
.section-hero-1,
.section-hero-2,
.section-hero-3 {
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
  border-radius: 3px;
  display: inline-block;
  opacity: 1;
}

.section-hero-1 {
  background-image: -webkit-linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(img/hero-pic-1.jpg);
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(img/hero-pic-1.jpg)
}

.section-hero-2 {
  background-image: -webkit-linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(img/hero-pic-2.jpg);
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(img/hero-pic-2.jpg)
}

.section-hero-3 {
  background-image: -webkit-linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(img/hero-pic-3.jpg);
  background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(img/hero-pic-3.jpg)
}

.loading {
  opacity: 0;
}


/*navbar*/



.header-top {
    height: 105px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0 2px 2px rgba(34, 34, 34, 0.71);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.header-top div {
  display: inline-block;
}

nav {
  background-color: #0c3c65;
  box-shadow: 0 2px 2px rgba(34, 34, 34, 0.71);
  color: #fff;
}


header {
  position: fixed;
  width: 100%;
  color: #0c3c65
}
header .row {
    padding-top: 0;
    margin: 0 auto;
    max-width: 100%;
}

.nav-right-side {
  margin-right: 65px;
}

nav li {
  display: inline-block;
  padding-right: 30px;
}


nav li:last-of-type {
  padding-right: 0;

}

nav ul{
  margin-left: 120px;
  color: #fff;
}

.logo {
  padding: 10px;
  margin-left: 100px;
  width: 350px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

img {
   image-rendering: optimizeQuality;
}

.contacts-header-div {
  margin-top: 30px;
  padding-right: 100px;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
}

/*mini nav on scroll down*/

.header-top-mini .logo {
    width: 200px;
}

.header-top-mini .contacts-header-div {
    margin-top: 5px;
}

.header-top.header-top-mini {
    height: 60px;
}

img {
  image-rendering: auto;
}
/*vertically centered black magic https://css-tricks.com/centering-in-the-unknown/*/
/* The ghost, nudged to maintain perfect centering */
.verticaly-centered-list {
  height: 60px;
}

ul {
  margin: 0;
}


.address {
  padding-left: 40px;
}

.address span,
.contact-phone span,
.footer-address span,
.footer-contact-phone span,
.footer-times span,
.verticaly-centered-list:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
  margin-top: 2px;
}



/* The element to be centered, can also be of any width and height */
.verticaly-centered-list ul{
  display: inline-block;
  vertical-align: middle;
}

.address,
.contact-phone,
.footer-address,
.footer-contact-phone,
.footer-times {
  height: 40px;
}

.address span,
.contact-phone span,
.footer-address span,
.footer-contact-phone span,
.footer-times span,{
  display: inline-block;
  vertical-align: middle;
}

/*icons*/
.ion-ios-telephone,
.ion-ios-location,
.ion-ios-clock {
  font-size: 34px;
  color: #0c3c65;
  display: block;
  margin-right: 10px;
  width: 36px;
  text-align: center;
}


.ion-android-arrow-dropleft-circle,
.ion-android-arrow-dropright-circle {
  font-size: 30px;
  color: #0c3c65;
  display: block;
  width: 36px;
  text-align: center;
  transition: color 0.2s;
}

.ion-android-arrow-dropleft-circle:hover,
.ion-android-arrow-dropleft-circle:active,
.ion-android-arrow-dropright-circle:hover,
.ion-android-arrow-dropright-circle:active {
  color: #1372c3;
  cursor: pointer;
}


/*anchors*/

.primary-link {
  border: 1px solid #0c3c65;
  background-color: #0c3c65;
  color: #fff;
  padding: 10px;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.3s ease-in-out;
}

.primary-link:hover,
.primary-link:active {
  color: #0c3c65;
  border-color: #0c3c65;
  background-color: #0c3c65;
}

.footer-link {
  border: 1px solid #0c3c65;
  color: #0c3c65;
  padding: 10px;
  background-color: #fff;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.3s ease-in-out;

}

.footer-link:hover,
.footer-link:active {
  color: #fff;
  border-color: #0c3c65;
  background-color: #0c3c65;
}


.secondary-link {
  border: 1px solid #fff;
  padding: 10px;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.3s ease-in-out;
}

.secondary-link:hover,
.secondary-link:active {
  color: #0c3c65;
  border-color: #0c3c65;
  background-color: #fff;
}


/*footer*/
.footer-contact {
  margin-left: 15px;
}
.section-map {
  font-size: 16px;
}

footer {
  font-size: 16px;
  background-color: #313438;
  color: #fff;
  height: 50px;
}

.footer-address {
  margin-top: 30px;
}

.footer-logo {
  margin-left: 30px;
  padding-bottom: 30px;
}

.footer-day {
  font-weight: bold;
  display: block;
}

.footer-time {
display: block;
float: right;
}


.footer-time-closed {
  padding-right: 10px;
}

/*insurances*/
.insurances img{
  max-width: 200px;
  vertical-align: middle;
  width: auto;
}

.insurances div {
  min-height: 110px;
}


/*reviews*/

.review {
  width: 40%;
  background-color: #fff;
  margin: 0 auto;

}

.review-copy {
  padding: 50px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: justify;
}

.review-paragraph {
  font-size: 15px;
}



.reviewer {
  font-weight:  bold;
  display: block;
  text-align: left;
}

.review-date {
  font-weight: lighter;
}

.review-stars {
  font-size: 24px;
  color: #e7711b;
}

/*services*/
.services-slide {
  margin: 0 auto;
  background-color: #f8f7f7;
  color: #222;
  width: 80%;
  border: 1px solid #0c3c65;
  padding-bottom: 15px;
}

.services-slide p {
  padding: 10px;
  font-size: 90%;
}

.services-slide h4 {
  margin: 0;
  padding-top: 10px;
}

.services-slide img {
  opacity: .8;
  padding-bottom: 10px;
  width: 100%;
}

.services-learn-more {
  color: #0c3c65;
  background-color: transparent;
  border: 1px solid #0c3c65;

  padding: 10px;
  font-size: 90%;
  text-transform: uppercase;
}

/*fadeins*/

.fadein-fast {
  -webkit-animation: fadein .3s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
          animation: fadein .3s;
          z-index: -3;
}
header {
  z-index: 99999;
}

.fadein{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
            animation: fadein 2s;

}

.fadein2-3{
    -webkit-animation: fadein 2.3s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
            animation: fadein 2.3s;
}
.fadein2-6{
    -webkit-animation: fadein 2.6s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
            animation: fadein 2.6s;
}
.fadein3{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
            animation: fadein 3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
